@import '../../assets/styles/_globals.scss';

.project__card {
  display: grid;
  grid-template-areas:
    'img title title'
    'img techUsed desc'
    'img buttons buttons';
  grid-template-rows: 100px 1fr 60px;
  grid-template-columns: 40% 1fr 1fr;
  margin-bottom: 45px;
  padding: 10px;
  height: 350px;
}
.project__image {
  padding: 0 20px;
  grid-area: img;
  align-self: end;
  img {
    height: auto;
    width: 100%;
  }
}
.project__title {
  grid-area: title;
  align-self: center;
  justify-self: center;
  font-family: $julius;
  font-size: 2em;
  color: #161855;
}
.project__desc {
  grid-area: desc;
  align-self: start;
  justify-self: center;
}
.project__tech-used {
  grid-area: techUsed;
  align-self: start;
  justify-self: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li::before {
    content: '\25A0';
    color: dodgerblue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
.project__links {
  grid-area: buttons;
  display: grid;
  grid-template-areas: 'button1 button2';
  grid-template-columns: 1fr 1fr;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $dark_blue, rgba(0, 0, 0, 0));
}
.project__link {
  width: 50%;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
.project__link--github {
  grid-area: button1;
  justify-self: end;
  background-color: DodgerBlue;
}

.project__link--hosted {
  grid-area: button2;
  justify-self: start;
  background-color: DodgerBlue;
}
