@import '../../assets/styles/_globals.scss';

.header {
  display: grid;
  grid-area: header;
  align-items: center;
  grid-template-areas: 'header1 header2';
  padding: 0 20px;
  background-color: $dark_blue;
  color: white;
}

.logo {
  grid-area: header1;
  justify-self: start;
  font: {
    family: 'Yellowtail', cursive;
    size: 3em;
    weight: bold;
  }
}

.menu {
  grid-area: header2;
  justify-self: end;
  li {
    display: inline;
    margin: 20px;
  }
  li a {
    text-decoration: none;
  }
}
