@import '../../assets/styles/_globals.scss';

.footer {
  grid-area: footer;
  background-color: $purple;
  text-align: center;
  padding: 1em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  svg {
    path {
      fill: white;
    }
    &:hover {
      transform: scale(1.5);
    }
  }
  .footer__email {
    margin-bottom: 1em;
    color: white;
    font-weight: bolder;
  }
}
