@import '../../assets/styles/_globals.scss';

.footer {
  grid-area: footer;
  background-color: $grey;
  text-align: center;
  padding: 1em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .footer__email {
    margin-bottom: 1em;
    color: $dark_blue;
    font-weight: bolder;
  }
}
