@import '../../assets/styles/_globals.scss';

.about {
  span {
    font-family: $julius;
    font-size: 2em;
    color: $dark_blue;
  }
  ul {
    list-style: none;
  }
  ul li::before {
    content: '\25A0';
    color: $dark_blue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.about_container {
  display: grid;
  grid-template-areas:
    'blurb1 blurb2'
    'toolbox misc';
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  width: 80%;
  height: auto;
}

.about_blurb--image {
  width: 80%;
  height: auto;
  grid-area: blurb1;
  justify-self: end;
  align-self: center;
}
.about_blurb--text {
  grid-area: blurb2;
  justify-self: center;
  align-self: center;
}
.about_tools {
  grid-area: toolbox;
  justify-self: center;
  align-self: start;
}

.about_misc {
  grid-area: misc;
  justify-self: start;
  align-self: start;
}
